// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
background: url("background2.jpg");
background-size: 100%;
color: black;
text-align: center;
}
label{
  color: black;
}

#welcome{
  border-style: solid;
  background-color: white;
  color:black;
}
